body {
  background-color: #ffb3d7;
}

#lemonButton{
  width:100px;
  height:100px;
  background: transparent;
  border-radius: 100% / 100%;
  left: 40px;
  bottom: 0px;
  position: absolute;
  display:block;
  padding:0px;
  cursor: pointer;
  border: none;
}

.lemon{
  width:50px;
  height:auto;
}

#limeButton{

}

#orangeButton{

}

#blueberryButton{

}

/*#blueberry{
  width:75px;
  height:75px;
  background:#2a2aa2;
  bottom:12px;
  position:absolute;
  left:370px;
  border-radius:100% / 100%;
  &::before,&::after{
    content:"";
    position: absolute;
  }
  &::before{
    background:#1f1f7a;
    width: 35px;
    height:13px;
    bottom:40px;
    border-radius:100% / 100%;
    transform: rotate(45deg);
    left:7px;
  }
  &::after{
    background:#1f1f7a;
    width: 13px;
    height:35px;
    bottom:30px;
    border-radius:100% / 100%;
    transform: rotate(45deg);
    left:15px;
  }
}*/

#cloud{
  width: 80px;
  height: 20px;
  background: #ffe6f2;
  border-radius:25% / 100%;
  position: absolute;
  left:-30px;
  top:50px;
  animation: drift 80s linear infinite;
  filter: drop-shadow(3px 5px 5px rgba(0,0,0,.1));
  &::before{
    content:"";
    position: absolute;
    border-radius:100%;
    background-color: #ffe6f2;
  }
  &::before{
    width: 40px;
    height: 40px;
    bottom:0px;
    left:10px;
  }
}

#cloud_2{
  width: 85px;
  height: 20px;
  background: #ffe6f2;
  border-radius:25% / 100%;
  position: absolute;
  left:600px;
  top:10px;
  animation: drift 80s linear infinite;
  filter: drop-shadow(3px 5px 5px rgba(0,0,0,.1));
  &::before{
    content:"";
    position: absolute;
    border-radius:100%;
    background-color: #ffe6f2;
  }
  &::before{
    width: 50px;
    height: 40px;
    bottom:0px;
    left:20px;
  }
}

#cloud_3{
  width: 85px;
  height: 20px;
  background: #ffe6f2;
  border-radius:25% / 100%;
  position: absolute;
  left:290px;
  top:100px;
  animation: drift 80s linear infinite;
  filter: drop-shadow(3px 5px 5px rgba(0,0,0,.1));
  &::after, &::before{
    content:"";
    position: absolute;
    border-radius:100%;
    background-color: #ffe6f2;
  }
  &::before{
    width:45px;
    height:40px;
    bottom:0px;
    left:20px;
  }
  &::after{
    width: 30px;
    height:0px;
    bottom:0px;
    left:15px;
  }
}

#cloud_4{
  width: 78px;
  height: 20px;
  background: #ffe6f2;
  border-radius:25% / 100%;
  position: absolute;
  left:-300px;
  top:80px;
  animation: drift 80s linear infinite;
  filter: drop-shadow(3px 5px 5px rgba(0,0,0,.1));
  &::before{
    content:"";
    position: absolute;
    border-radius:100%;
    background-color: #ffe6f2;
  }
  &::before{
    width:45px;
    height: 43px;
    bottom:0px;
    left:20px;
  }
}

#cloud_4{
  width: 78px;
  height: 20px;
  background: #ffe6f2;
  border-radius:25% / 100%;
  position: absolute;
  left:-500px;
  top:80px;
  animation: drift 80s linear infinite;
  filter: drop-shadow(3px 5px 5px rgba(0,0,0,.1));
  &::before{
    content:"";
    position: absolute;
    border-radius:100%;
    background-color: #ffe6f2;
  }
  &::before{
    width:40px;
    height: 40px;
    bottom:0px;
    left:25px;
  }
}

/*#glass{
  width:300px;
  height:500px;
  background: #e6f2ff;
  border-radius:10% / 5%;
  position: absolute;
  left:500px;
  bottom:0px;
}

#glassBottom{
  width:300px;
  height:200px;
  background: #e6f2ff;
  border-radius:100% / 0%;
  position: absolute;
  left:500px;
  bottom:0px;
}

#lemonade{
  width:250px;
  height:300px;
  background: #fff780;
  border-radius:10% / 0%;
  position: absolute;
  left:525px;
  bottom:30px;
}*/

#lemonTilt{
  width:70px;
  height:75px;
  position:absolute;
  left:53px;
  bottom:13px;
&::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:5px;
    height: 75px;
    bottom:0px;
    left:35px;
    background-color: #fffccc;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
  &::after{
    width: 75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #fffccc;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
}

#insideLemonSlice{
  width:70px;
  height:70px;
  background: #ffe066;
  position:absolute;
  border-radius: 100% / 100%;
  left:55px;
  bottom:15px;
&::after, &::before{
    content:"";
    position: absolute;
    border-radius:100%;
  }

  &::after{
    width:5px;
    height:75px;
    bottom:0px;
    left:32px;
    background-color: #fffccc;
    border-radius: 0% / 0%;
  }
    &::before{
    width:75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #fffccc;
    border-radius: 0% / 0%;
  }
}

#lemonSlice{
  width:100px;
  height:100px;
  background: #fff34d;
  position:absolute;
  border-radius: 100% / 100%;
  left:40px;
  bottom:0px;
  &::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:90px;
    height: 90px;
    bottom:7px;
    left:7px;

  }
  &::after{
    width:85px;
    height: 85px;
    bottom:7px;
    left:7px;
    background-color: #fffccc;
  }
}

#limeTilt{
  width:70px;
  height:75px;
  position:absolute;
  left:163px;
  bottom:13px;
&::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:5px;
    height: 75px;
    bottom:0px;
    left:35px;
    background-color: #e6ffcc;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
  &::after{
    width: 75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #e6ffcc;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
}

#insideLimeSlice{
  width:70px;
  height:70px;
  background: #99e600;
  position:absolute;
  border-radius: 100% / 100%;
  left:165px;
  bottom:15px;
&::after, &::before{
    content:"";
    position: absolute;
    border-radius:100%;
  }

  &::after{
    width:5px;
    height:75px;
    bottom:0px;
    left:32px;
    background-color: #e6ffcc;
    border-radius: 0% / 0%;
  }
    &::before{
    width:75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #e6ffcc;
    border-radius: 0% / 0%;
  }
}

#limeSlice{
  width:100px;
  height:100px;
  background: #c1ff80;
  position:absolute;
  border-radius: 100% / 100%;
  left:150px;
  bottom:0px;
  &::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:90px;
    height: 90px;
    bottom:7px;
    left:7px;

  }
  &::after{
    width:85px;
    height: 85px;
    bottom:7px;
    left:7px;
    background-color: #e6ffcc;
  }
}

#orangeTilt{
  width:70px;
  height:75px;
  position:absolute;
  left:273px;
  bottom:13px;
&::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:5px;
    height: 75px;
    bottom:0px;
    left:35px;
    background-color: #ffd9b3;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
  &::after{
    width: 75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #ffd9b3;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
}

#insideOrangeSlice{
  width:70px;
  height:70px;
  background: #ff8c1a;
  position:absolute;
  border-radius: 100% / 100%;
  left:275px;
  bottom:15px;
&::after, &::before{
    content:"";
    position: absolute;
    border-radius:100%;
  }

  &::after{
    width:5px;
    height:75px;
    bottom:0px;
    left:32px;
    background-color: #ffd9b3;
    border-radius: 0% / 0%;
  }
    &::before{
    width:75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #ffd9b3;
    border-radius: 0% / 0%;
  }
}

#orangeSlice{
  width:100px;
  height:100px;
  background: #ff9966;
  position:absolute;
  border-radius: 100% / 100%;
  left:260px;
  bottom:0px;
  &::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:90px;
    height: 90px;
    bottom:7px;
    left:7px;

  }
  &::after{
    width:85px;
    height: 85px;
    bottom:7px;
    left:7px;
    background-color: #ffd9b3;
  }
}

#pinkLemonTilt{
  width:70px;
  height:75px;
  position:absolute;
  left:383px;
  bottom:13px;
&::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:5px;
    height: 75px;
    bottom:0px;
    left:35px;
    background-color: #ffcccc;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
  &::after{
    width: 75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #ffcccc;
    border-radius: 0% / 0%;
    transform: rotate(45deg);
  }
}

#insidePinkLemonSlice{
  width:70px;
  height:70px;
  background: #ff6666;
  position:absolute;
  border-radius: 100% / 100%;
  left:385px;
  bottom:15px;
&::after, &::before{
    content:"";
    position: absolute;
    border-radius:100%;
  }

  &::after{
    width:5px;
    height:75px;
    bottom:0px;
    left:32px;
    background-color: #ffcccc;
    border-radius: 0% / 0%;
  }
    &::before{
    width:75px;
    height:5px;
    bottom:32px;
    left:0px;
    background-color: #ffcccc;
    border-radius: 0% / 0%;
  }
}

#pinkLemonSlice{
  width:100px;
  height:100px;
  background: #ff8080;
  position:absolute;
  border-radius: 100% / 100%;
  left:370px;
  bottom:0px;
  &::before, &::after{
    content:"";
    position: absolute;
    border-radius:100%;
  }
  &::before{
    width:90px;
    height: 90px;
    bottom:7px;
    left:7px;

  }
  &::after{
    width:85px;
    height: 85px;
    bottom:7px;
    left:7px;
    background-color: #ffcccc;
  }
}

@keyframes drift{
  from{
    transform: translateX(-20px);
  }
  to{
    transform: translateX(100vw);
  }
}
